body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;
    justify-content: space-between;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: flex-start;
}

.hero-text .hero-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 8px;
}

.hero button {
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    width: 100px;
    margin-top: 10px;
}

.banner {
    width: 300px;
}

.info-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.info-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 40px;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: space-around;    
}

.info-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}

.info-card-img {
    box-sizing: border-box;
    border: 1px solid blue;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.info-card-text {
    
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 10px;
}

.quote-author {
    font-weight: bold;
    color:#1f2937;
    align-self: flex-end;
    margin-right: 30px;
}

.call-to-action {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    margin: 50px;
    border-radius: 5px;
}

.cta-text {
    color: #f9faf8;
}

.cta-text-heading {
    font-weight: bolder;
    font-size: large;
}

.call-to-action button {
    color: #e5e7eb;
    background-color: #3882f6;
    border: 1px solid white;
    font-weight: bolder;
    padding: 5px 20px;
    border-radius: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header,
.hero,
.info-section,
.quote-section,
.section {
    padding-left: 20%;
    padding-right: 20%;
}